# random directories
unused/
tools/
zig-debug/

# zig auto created directories
zig-cache/
zig-out/
bin/

# files routinely created while debugging
**/*.readelf
**/*.objdump
**/*.bin
**/*.log

# disk image files
**/*.dmg
**/*.img

# intellij zig support is terrible
.idea/